@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Canela Light;
      font-weight: 400;
      src: url(/fonts/canelalight.woff) format("woff");
    }
}